@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f2f2f2;
    font-family: "Balsamiq Sans", Arial, Helvetica, sans-serif;
    padding-top: 80px;
}

h1, h2, h3, h4 {
    font-family: 'Comfortaa', cursive;
}

/* Nav */

nav {
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0 3%;
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav li {
    padding-left: 10px;
}

nav a {
    text-decoration: none;
    color: #0976db;
}

nav a:active {
    color: #83b2de;
}

nav button {
    border: none;
    background-color: white;
    color: blue;
}

/* Recommendations Panel */

aside {
    position: fixed;
    left: calc(min(600px, 90% - 250px) + 6%);
    padding: 16px 1%;
    min-width: 260px;
    background-color: white;
}

#profile {
    display: flex;
    align-items: center;
}

aside img {
    border-radius: 50%;
}

#profile h2 {
    margin-left: 20px;
}

aside h4 {
    color: #333;
}

aside section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
}

.suggestion-container {
    display: flex;
}

.suggestion-container > * {
    margin-right: 10px;
}

aside section p {
    color: #333;
    font-size: 11pt;
    margin: -1px 0;
}

aside a {
    text-decoration: none;
    color: #0976db;
}

aside a:active {
    color: #83b2de;
}

/* Main */

main {
    width: min(600px, 90% - 250px);
    margin-left: 5%;
}

/* Stories Panel */

.stories {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 50vw;
    min-width: 540px;
    border: solid 1px #dbdbdb;
    margin-bottom: 30px;
    background-color: #fff;
    overflow: hidden;
}
.stories > div {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stories > div .pic {
    min-width: 50px;
    min-height: 50px;
    border: solid 3px #dbdbdb;
    border-radius: 27px;
}
.stories p {
    margin-top: 4px;
    margin-bottom: 0px;
    font-size: 0.80em;
    color: #999;
    width: 66px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

/* #stories {
    background-color: white;
    padding: 8px 0;
    overflow: hidden;
}

#stories ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#stories li {
    text-align: center;
    margin: 0 8px;
}

#stories img {
    border-radius: 50%;
    border: solid 2px light#333;
}

#stories p {
    color: #333;
    font-size: 9pt;
    margin-bottom: 0;
} */

/* Card */

.card {
    border: solid 1px light#333;
    background: white;
    margin: 20px 0;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.card img {
    width: 100%;
}

.heart i {
    margin: 2px;
}

.icons {
    display: flex;
    justify-content: space-between;
}

.content {
    padding: 10px 15px 0 15px;
}

.content a {
    text-decoration: none;
    color: #0976db;
}

.content a:active {
    color: #83b2de;
}

.time {
    color: #333;
}

.card hr {
    background-color: #333;
}

.comment-box {
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.smile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.smile i {
    margin-right: 10px
}

.comment-box a {
    text-decoration: none;
    color: #0976db;
}

.comment-box a:active {
    color: #83b2de;
}


/* Mobile Phone Media Query */
@media only screen and (max-width: 600px) {
    aside {
        display: none;
    }
    main {
        width: 90%;
    }
    #stories {
        overflow-x: scroll;
    }
}

/* Tablet Media Query */
@media only screen and (max-width: 1000px) {

}