<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans" rel="stylesheet">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="stories">
        <ul>
            {% for item in stories %}
                <li>
                    <img src="{{ item.get('user').get('thumb_url') }}" alt="{{ item.get('user').get('username') }} profile picture">
                    <p>{{ item.get('user').get('username') }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>